.container {
  display: flex;
  height: 100vh;
}

.logo {
  width: 100%;
  max-width: 500px;
  /* padding: 1.5rem; */
}

.right {
  flex: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

p {
  opacity: 0.7;
  margin-bottom: 40px;
}

.googleButton,
.githubButton,
.visitorButton {
  background-color: #3b3f44;
  border: none;
  height: 4.5rem;
  color: #fff;
  margin-bottom: 20px;
  font-size: 1rem;
  cursor: pointer;
  max-width: 352px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-items: center;
  padding-left: 20px;
}

.googleButton {
  background-color: #252D4A;
}

.githubButton {
  background-color: #252D4A;
}

.visitorButton {
  background-color: #252D4A;
}

.imagep {
  margin-right: 1.5rem;
}
