.container {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1;
  background: linear-gradient(135deg, #2e3a59, #1c1f26);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 50%;
  max-width: 300px;
}

.right {
  flex: 1;
  background-color: #1c1f26;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

p {
  margin-bottom: 40px;
}

.googleButton,
.githubButton,
.visitorButton {
  background-color: #3b3f44;
  border: none;
  padding: 15px;
  color: #fff;
  margin-bottom: 20px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

.googleButton {
  background-color: #4285f4;
}

.githubButton {
  background-color: #333;
}

.visitorButton {
  background-color: #5a5f64;
}
